[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
pip = "*"
requests = "*"
pytest = "*"
mocker = "*"
pytest-mock = "*"
[dev-packages]

[requires]
python_version = "3.10"
